*{
    box-sizing: border-box;  
}
body {
    background-color: #e6e6e6;

}
.card{
    display:flex;
    margin:0 auto;
    margin-top:10%;
    margin-left: 15%;
    
    
}
.carduser{
    width: 350px;
    height: auto;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:6%;
    display: block;
    
   
}
.carduser:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card-body h2 {
   color: #c92021;
   margin-top: 10%;
}
.name-job{
    font-size: 15px;
    color: #1b1464;
    margin-top: -8px;
    margin-right: 5%;

}
.card-body p {
    color: #1a1a1a;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5%;

 }
.img-user img {
    position: absolute;
    top: -30%;
    left: 28%;
    width: 160px;
    height: 160px;
    border: 3px solid #1b1464 ;
    border-radius: 50%;
  
}
.icon  {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 15px;
   
}
.icon a {
    padding-left: 5px;
    transition: 0.3s ease-in-out;
    color: #1b1464;
    white-space: 5px;
}
.icon a:hover{
    color:#c92021 ;
}

@media screen and (max-width:800px ) {
    .card{
        display:block;
    }
    .carduser{
        margin-top: 50%;
        margin-left: -10%;
    }
}